# Introduction to Python

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/unstructured-data/IESE_presession_23/blob/main/notebooks/intro_python.ipynb)

## Variables and data types

In [2]:
# defining variables in Python with the = sign
# exploring different data types

my_string = "Hi!"
my_float = 4.4
my_int = 7
my_boolean = True

In [3]:
# operations with numbers
4 + 5

9

In [4]:
# operations with strings
"Hello" + " " + "World"

'Hello World'

## Lists and dictionaries

In [7]:
# create lists
my_num_list = [1, 2, 3, 4, 5]
my_string_list = ["Hello", "World", "!"]
my_mixed_list = [1, "Hello", 3.4, True]

In [8]:
# get the first element of a list
my_num_list[0]

1

In [9]:
# create a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

## Classes and functions

## For loops and list comprehensions

## Pandas

In [10]:
# expand python's capacity with packages
import pandas as pd

In [11]:
# what are we importing?

In [13]:
# create a dataframe from two lists
df = pd.DataFrame({"name": ["John", "Mary"], "age": [30, 25]})
df

   name  age
0  John   30
1  Mary   25

In [15]:
# read data from a csv file
#df = pd.read_csv("data/iris.csv")

In [16]:
# read data from file with a different separator
#df = pd.read_csv("data/iris.csv", sep="\t")

In [17]:
# reading from other file types
#df = pd.read_excel("data/iris.xlsx")
#df = pd.read_json("data/iris.json")
#df = pd.read_stata("data/iris.dta")

In [ ]:
# select a column
df["sepal_length"]

In [ ]:
# select a row
df.iloc[0]

In [ ]:
# select a cell
df["sepal_length"].iloc[0]

In [18]:
# filter data
#df[df["species"] == "setosa"]

In [ ]:
# apply a function to all elements of a column
#df["sepal_length"].apply(lambda x: x * 2)

In [ ]:
# sum all elements of a column
#df["sepal_length"].sum()

In [ ]:
# create a new column
#df["sepal_length_in_cm"] = df["sepal_length"] / 10

In [ ]:
# group data
#df.groupby("species").mean()

## Loading data from other sources

In [ ]:
# dowlonalod data from Google Drive URL
#url = "https://drive.google.com/uc?export=download
#       &id=1QZqQ5Z
#       &authuser=0
#       &export=download"
#df = pd.read_csv(url)

In [ ]:
# mount Google Drive
#from google.colab import drive
#drive.mount('/content/drive')