# Introduction to Pandas


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/unstructured-data/IESE_presession_23/blob/main/notebooks/intro_pandas.ipynb)

In [ ]:
# expand python's capacity with packages
import pandas as pd

In [ ]:
# what are we importing?

In [ ]:
# create a dataframe from two lists
df = pd.DataFrame({"name": ["John", "Mary"], "age": [30, 25]})
df

   name  age
0  John   30
1  Mary   25

In [ ]:
# read data from a csv file
#df = pd.read_csv("data/iris.csv")

In [ ]:
# read data from file with a different separator
#df = pd.read_csv("data/iris.csv", sep="\t")

In [ ]:
# reading from other file types
#df = pd.read_excel("data/iris.xlsx")
#df = pd.read_json("data/iris.json")
#df = pd.read_stata("data/iris.dta")

In [ ]:
# select a column
df["sepal_length"]

In [ ]:
# select a row
df.iloc[0]

In [ ]:
# select a cell
df["sepal_length"].iloc[0]

In [ ]:
# filter data
#df[df["species"] == "setosa"]

In [ ]:
# apply a function to all elements of a column
#df["sepal_length"].apply(lambda x: x * 2)

In [ ]:
# sum all elements of a column
#df["sepal_length"].sum()

In [ ]:
# create a new column
#df["sepal_length_in_cm"] = df["sepal_length"] / 10

In [ ]:
# group data
#df.groupby("species").mean()

## Loading data from other sources

In [ ]:
# dowlonalod data from Google Drive URL
#url = "https://drive.google.com/uc?export=download
#       &id=1QZqQ5Z
#       &authuser=0
#       &export=download"
#df = pd.read_csv(url)

In [ ]:
# mount Google Drive
#from google.colab import drive
#drive.mount('/content/drive')